body {
  margin: 0;
  font-family: "Vazirmatn", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  text-align: right;
}

.loginBtn {
  color: #f1f2f6 !important;
}
.loginBtn:hover {
  color: #ffffff !important;
}
.dropdown-toggle::after {
  display: none !important;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #ff5700;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-orange-important {
  @apply text-orange-600 !important;
}

a {
  text-decoration: none !important;
}

.page-content {
  margin-top: 80px; /* فاصله از بالا برای دسکتاپ */
}

@media (max-width: 1024px) {
  .page-content {
    margin-top: 64px;
    margin-bottom: 96px;
  }
}

.rmdp-container {
  direction: rtl;
  font-family: Vazir, sans-serif;
  width: 100%;
}
.rmdp-input {
  width: 100%;
  padding: 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}
.rmdp-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}
.rmdp-calendar {
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.rmdp-day span {
  font-size: 14px;
}
